<div
  appKeyboardManager
  role="radiogroup"
  [attr.aria-labelledby]="id"
  class="button-group">
  <label
    [attr.id]="id"
    class="label">
    {{ label }}
  </label>
  <button
    [attr.disabled]="disabled ? disabled : null"
    appKeyboardManagedItem
    (focused)="activate(options.YES)"
    role="radio"
    [tabindex]="value === options.YES || value === null ? 0 : -1"
    [attr.aria-checked]="value == options.YES"
    [class.button-pressed]="value == options.YES"
    (click)="activate(options.YES)"
    class="button button-yes"
    type="button">
    Yes
  </button>
  <button
    [attr.disabled]="disabled ? disabled : null"
    appKeyboardManagedItem
    (focused)="activate(options.NO)"
    role="radio"
    [tabindex]="value === options.NO ? 0 : -1"
    [attr.aria-checked]="value == options.NO"
    [class.button-pressed]="value == options.NO"
    (click)="activate(options.NO)"
    class="button button-no"
    type="button">
    No
  </button>
</div>
